 @model List<Topics>
@* @{
    string url = "";
} *@
<link href="~/css/NavBar.css" rel="stylesheet"/>

    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent1"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                <li class="nav-item" >

              <li class="nav-item" >
                    <button type="button" id="UseShipAddr" onclick="myFunction('7')" class="nav-link" href="#"> @_localization.Getkey("Qasaeid")</button>
                </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#">Sea food</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Vegetables</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>

    function myFunction(id) {

            $.ajax({

            url: '@Url.Action("AllAudio", "Home")',
                 data: {subCategoryID: id }
            });

    }
    </script>