/*body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    background-color: #F2F2F2;
}

h1 {
    text-align: center;
    color: #333333;
}

.cardcontainer {
    width: 350px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

    .cardcontainer:hover {
        box-shadow: 0 0 45px gray;
    }

.photo {
    height: 300px;
    width: 100%;
}

    .photo img {
        height: 100%;
        width: 100%;
    }

.txt1 {
    margin: auto;
    text-align: center;
    font-size: 17px;
}

.content {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px;
}

.photos {
    width: 90px;
    height: 30px;
    background-color: #E74C3C;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 10px;
    font-size: 20px;
}

.txt4 {
    font-size: 27px;
    position: relative;
    top: 33px;
}

.txt5 {
    position: relative;
    top: 18px;
    color: #E74C3C;
    font-size: 23px;
}

.txt2 {
    position: relative;
    top: 10px;
}

.cardcontainer:hover > .photo {
    height: 200px;
    animation: move1 0.5s ease both;
}

@keyframes move1 {
    0% {
        height: 300px
    }

    100% {
        height: 200px
    }
}

.cardcontainer:hover > .content {
    height: 200px;
}

.footer {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    top: -15px;
}

.btn {
    position: relative;
    top: 20px;
}

#heart {
    cursor: pointer;
}

.like {
    float: right;
    font-size: 22px;
    position: relative;
    top: 20px;
    color: #333333;
}

.fa-gratipay {
    margin-right: 10px;
    transition: 0.5s;
}

    .fa-gratipay:hover {
        color: #E74C3C;
    }

.txt3 {
    color: gray;
    position: relative;
    top: 18px;
    font-size: 14px;
}

.comments {
    float: right;
    cursor: pointer;
}

.fa-clock, .fa-comments {
    margin-right: 7px;
}*/


/*_____________________________________________________*//**/

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}