@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="row grid gap-0 ">
    <div class="col-12 d-sm-inline-flex justify-content-between ">
    


    @if (SignInManager.IsSignedIn(User))
    {
     
        

                <a id="manage" class="nav-link text-white">@_localization.Getkey("Hello") @UserManager.GetUserName(User)</a>

      
       
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link border-0 text-white"><i class="bi bi-box-arrow-right h5"></i></button>
            </form>
        
    
    
    }
    else
    {

            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-person-circle h5"></i></a>

    }
 

    </div>
</div>