@page
@model ForgotPasswordConfirmation


<div class="row text-center">
    <h3>@_localization.Getkey("Forgot password confirmation")</h3>
    <h5>@_localization.Getkey(" Please check your email to reset your password.")</h5>
</div>